@page "/Records"

@inject IRecordServices RecordServices
@inject NavigationManager NavigationManager



<h3>Records</h3>


    <EditForm Model="FirstDateRange" OnSubmit="HandleSubmit">
<div>
        <label for="FirstDateRange">Records Date From:</label>
        <InputDate id="FirstDateRange" @bind-Value="FirstDateRange" class="form-control"></InputDate>
    </div>
    <div>
        <label for="SecondDateRange">Records Date To:</label>
        <InputDate id="SecondDateRange" @bind-Value="SecondDateRange" class="form-control"></InputDate>
    </div>
    </EditForm>
<table class="table">
        <thead>
            <tr>
                <th>ID Number</th>
                <th>Employee Name</th>
                <th>Clock In Time</th>
                <th>Clock Out Time</th>
                <th>Hours Worked</th>
            </tr>


        </thead>

        <tbody>
        
        @foreach (var record in RecordServices.Records)
        {
            @if (FirstDateRange <= record.ClockInTime && SecondDateRange >= record.ClockInTime) {
                <tr>
                    <td>@record.IdNumber</td>
                <td>@record.EmployeeName</td>
                <td>@record.ClockInTime</td>
                <td>@record.ClockOutTime</td>
                <td>@Math.Round(record.TotalHoursWorked,2)</td>
                <td>
                    <button class="btn btn-primary" @onclick ="(()=> ShowRecord(record.ItemNumber))" >
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
            </tr>
            }
        }
        </tbody>
</table>  
<button class="btn btn-primary"@onclick="CreateNewRecord">Create New Record</button>
@code {
    DateTime FirstDateRange = DateTime.Today.Date;
    DateTime SecondDateRange = DateTime.Today.Date;
     async Task HandleSubmit()
    {
         
    }



    protected override async Task OnInitializedAsync()
    {
        await RecordServices.LoadRecord();
    }

    void ShowRecord(int ItemNumber)
    {
        NavigationManager.NavigateTo($"RecordsCRUD/{ItemNumber}");

    }
    void CreateNewRecord()
    {
        NavigationManager.NavigateTo("RecordsCRUD");
    }

}